<%= render 'shared/header' %>
<div id="main">	
	<div class="content">
		<% @movies.each do |movie| %>
			<div class="movie column">
				<div class="block">
					<h1><%= movie.title %></h1>
					<div class="thumb" style="background-image: url('assets/thumbs_movies/<%= movie.thumburl %>');">
						<%= link_to '', movie %>
							<div class="icon arrow"></div>
						</a>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>