<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>

<% @movies.each do |movie| %>
	<div class="column">
		<div class="block">
			<h1><%= movie.title %></h1>
			<div class="thumb" style="background-image: <%= movie.thumburl %>;"></div>
		</div>
	</div>
<% end %>