$action: #9e8b6f;
@mixin clear { &:after { content: "."; display: block; height:0; clear: both; visibility: hidden; }}
* {
	border: 0;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
body {
	background: #f7f7f7;
}

header {
	background-color: darken(#AEAEAE, 40%);
	border-bottom: 5px solid darken(#AEAEAE, 45%);
	@include clear;
	height: 60px;
	.logo {
		background-image: image-url("icon_logo.png");
		background-position: 50%;
		background-size: 50px;
		float: left;
		height: 60px;
		margin: 0 10px 0 10px;
		width: 60px;
	}
	form.search {
		float: left;
		padding: 10px 0;
		width: calc(100% - 80px);
		input[type="text"] {
			background-color: #AEAEAE;
			border: none;
			border-right: none;
			display: block;
			float: left;
			font-size: 20px;
			height: 30px;
			outline: none;
			padding: 5px 10px;
			width: calc(50% - 110px);
		}
		input[type="submit"] {
			background-color: $action;
			background-image: image_url("icon_search.png");
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: 20px;
			cursor: pointer;
			display: block;
			float: left;
			height: 40px;
			padding: 0;
			width: 40px;
			text-indent: -50000px;
			transition: background-color 0.25s ease-in-out;
			&:hover { background-color: lighten($action, 5%); }
		}
		::-webkit-input-placeholder { color: #484848; font-style: italic; font-size: 14px; }
		:-moz-placeholder { /* Firefox 18- */ color: #484848; font-style: italic; font-size: 14px; }
		::-moz-placeholder {  /* Firefox 19+ */color: #484848; font-style: italic; font-size: 14px; }
		:-ms-input-placeholder { color: #484848; font-style: italic; font-size: 14px; }
	}
}

.block { margin: 0 10px 20px 10px; }
#main {
	@include clear;
	padding: 40px 12.5px 0 12.5px;
	.movie.column {
		
		float: left;
		width: 16.666667%;
		@media screen and (max-width: 1200px) { width: 20%; }
		@media screen and (max-width: 1000px) { width: 25%; }
		@media screen and (max-width: 800px) { width: 33.33334%; }
		@media screen and (max-width: 600px) { width: 50%; }
		.block {
			h1 {
				color: #AEAEAE;
				display: block;
				font-size: 10px;
				font-weight: normal;
				height: 20px;
				letter-spacing: 0.5px;
				margin: 0 0 5px 0;
				overflow: hidden;
				text-align: center;
			}
			.thumb {
				background-position: 50%;
				background-size: cover;
				display: block;
				height: 0;
				max-width: 100%;
				padding-bottom: 147%;
				position: relative;
				a {
					background-color: rgba(0,0,0,0.80);
					background-image: image_url("icon_arrow_goto_movie.png");
					background-position: 50%;
					background-repeat: no-repeat;
					background-size: 50px;
					height: 100%;
					opacity: 0;
					position: absolute;
					transition: opacity 0.25s ease-in-out;
					width: 100%;
					z-index: 1;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}


#hero {
	height: 450px;
	position: relative;
	overflow: hidden;
	.overlay {
	@include clear;
	
		background-color: rgba(240,240,240,0.93);
		box-shadow: inset 0 -5px 0 rgba(0,0,0,0.05);
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 2;
	}
	> img {
		display: block;
		margin: -500px auto 0 auto;
		position: relative;
		width: 1200px;
		@media screen and (min-width: 1200px) {
			width: 120%;
		}
	}
}
#show {
	@include clear;
	padding: 20px 10px;
	position: relative;
	//top: -120px;
	z-index: 3;
	aside {
		float: left;
		width: 25%;
		 img {
			width: 100%;
		}
	}
	article {
		float: left;
		width: 75%;
		h1 {
			color: #484848;
			font-weight: normal;
			display: block;
			font-size: 30px;
		}
	}
}



//////

